<div class="row align-items-center">
    <div class="col-12 login-container d-table">
        <div class="row vh100 align-items-center" style="height: 100vh;">
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="jumbotron" style="background: white; border-radius: 20px;">
                    <div id="loginbox" class="mr-sm-5 ml-sm-5 pr-4 pl-4">
                        <div style="margin-left: -25px">
                            <div style="text-align: center;"><img width="100%" src="/assets/img/eugenia-logo.png" /></div>
                        </div>
                        <hr class="my-4">
                        <div style="text-align: center;">
                            <h2>Inicia sesión</h2>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span id="span_email" class="icon_addon input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input autocomplete="nope" required data-span="#span_email" type="text" class="form-control input-with-addon"  [(ngModel)]="email"  id="txtEmail" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span id="span_pwd" class="icon_addon input-group-text"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input  data-span="#span_pwd" required type="password" class="form-control input-with-addon" [(ngModel)]="password" id="txtPassword">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <span class="text-black">¿Olvidaste tu contraseña? <a class="home-link"  routerLink="/auth/recovery">Recupérala aquí</a></span> 
                            </div>
                            <div class="col-12">
                                <span class="text-black">¿No tienes cuenta aún? <a class="home-link"  routerLink="/auth/register">Registrarse aquí</a></span> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12" align="right">
                                <button *ngIf="!validateLogin"  type="button" id="btnLogin" class="btn eugenia-btn-primary btn-block" type="submit" (click)="login()">{{ buttonText }}</button>
                                <button *ngIf="validateLogin"  type="button" id="btnLogin" class="btn eugenia-btn-primary btn-block" disabled="true" type="submit">{{ buttonText }} <div class="spinner-border" role="status"><span class="visually-hidden"></span></div></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>